#student_form > div {
  padding: 0;
}

#student_list > li:first-child a.move-up,
#student_list > li:last-child a.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
  /*pointer-events: none;*/
}

span.student-name {
  line-height: 38px;
  padding: 1px;
}

span[contenteditable=true] {
  border: 1px solid #ccc;
  line-height: inherit;
  padding: 0;
}

.actions {
  float: right;
}
