#studentForm > div {
  padding: 0;
}

#studentList > li:first-child a.moveUp,
#studentList > li:last-child a.moveDown {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
  /*pointer-events: none;*/
}

span.studentName {
  display: inline-block;
  padding: 1px;
  width: 15em;
}

span[contenteditable=true] {
  border: 1px solid #ccc;
  padding: 0;
}

.actions {
  float: right;
}
